## List Tables
Exploring the tables in the 'Data Nerd Jobs' data connection.

In [ ]:
\list

## Explore 'keywords_all' Column
Analyzing the 'keywords_all' column in the 'data_nerd_jobs' table.

In [ ]:
SELECT keyword.element, COUNT(*) as count
FROM `public_job_listings.data_nerd_jobs`, UNNEST(keywords_all.list) as keyword
GROUP BY keyword.element
ORDER BY count DESC
LIMIT 10

## Median Salary for Top 10 Skills
Calculating the median salary for the top 10 skills identified previously.

In [ ]:
WITH TopSkills AS (
  SELECT keyword.element AS skill
  FROM `public_job_listings.data_nerd_jobs`, UNNEST(keywords_all.list) as keyword
  GROUP BY keyword.element
  ORDER BY COUNT(*) DESC
  LIMIT 10
)
SELECT skill,
       PERCENTILE_CONT(salary_year, 0.5) OVER (PARTITION BY skill) AS median_salary
FROM `public_job_listings.data_nerd_jobs`, UNNEST(keywords_all.list) as keyword
JOIN TopSkills ON keyword.element = TopSkills.skill
WHERE salary_year IS NOT NULL
GROUP BY skill, salary_year
ORDER BY median_salary DESC

In [ ]:
WITH TopSkills AS (
  SELECT keyword.element AS skill
  FROM `public_job_listings.data_nerd_jobs`, UNNEST(keywords_all.list) as keyword
  GROUP BY keyword.element
  ORDER BY COUNT(*) DESC
  LIMIT 10
)
SELECT skill,
       PERCENTILE_CONT(salary_year, 0.5) OVER (PARTITION BY skill) AS median_salary
FROM `public_job_listings.data_nerd_jobs`, UNNEST(keywords_all.list) as keyword
JOIN TopSkills ON keyword.element = TopSkills.skill
WHERE salary_year IS NOT NULL
GROUP BY skill, salary_year
ORDER BY median_salary DESC
LIMIT 10

In [ ]:
WITH TopSkills AS (
  SELECT keyword.element AS skill
  FROM `public_job_listings.data_nerd_jobs`, UNNEST(keywords_all.list) as keyword
  GROUP BY keyword.element
  ORDER BY COUNT(*) DESC
  LIMIT 10
),
SkillSalaries AS (
  SELECT keyword.element AS skill, salary_year
  FROM `public_job_listings.data_nerd_jobs`, UNNEST(keywords_all.list) as keyword
  JOIN TopSkills ON keyword.element = TopSkills.skill
  WHERE salary_year IS NOT NULL
)
SELECT skill, PERCENTILE_CONT(0.5) WITHIN GROUP (ORDER BY salary_year) AS median_salary
FROM SkillSalaries
GROUP BY skill
ORDER BY median_salary DESC

In [ ]:
WITH TopSkills AS (
  SELECT keyword.element AS skill
  FROM `public_job_listings.data_nerd_jobs`, UNNEST(keywords_all.list) as keyword
  GROUP BY keyword.element
  ORDER BY COUNT(*) DESC
  LIMIT 10
),
SkillSalaries AS (
  SELECT keyword.element AS skill, salary_year
  FROM `public_job_listings.data_nerd_jobs`, UNNEST(keywords_all.list) as keyword
  JOIN TopSkills ON keyword.element = TopSkills.skill
  WHERE salary_year IS NOT NULL
)
SELECT skill, MEDIAN(salary_year) AS median_salary
FROM SkillSalaries
GROUP BY skill
ORDER BY median_salary DESC

In [ ]:
WITH TopSkills AS (
  SELECT keyword.element AS skill
  FROM `public_job_listings.data_nerd_jobs`, UNNEST(keywords_all.list) as keyword
  GROUP BY keyword.element
  ORDER BY COUNT(*) DESC
  LIMIT 10
),
SkillSalaries AS (
  SELECT keyword.element AS skill, salary_year
  FROM `public_job_listings.data_nerd_jobs`, UNNEST(keywords_all.list) as keyword
  JOIN TopSkills ON keyword.element = TopSkills.skill
  WHERE salary_year IS NOT NULL
)
SELECT skill,
       PERCENTILE_CONT(salary_year, 0.5) OVER (PARTITION BY skill) AS median_salary
FROM SkillSalaries
GROUP BY skill, salary_year
ORDER BY median_salary DESC

In [ ]:
WITH TopSkills AS (
  SELECT keyword.element AS skill
  FROM `public_job_listings.data_nerd_jobs`, UNNEST(keywords_all.list) as keyword
  GROUP BY keyword.element
  ORDER BY COUNT(*) DESC
  LIMIT 10
),
SkillSalaries AS (
  SELECT keyword.element AS skill, salary_year
  FROM `public_job_listings.data_nerd_jobs`, UNNEST(keywords_all.list) as keyword
  JOIN TopSkills ON keyword.element = TopSkills.skill
  WHERE salary_year IS NOT NULL
)
SELECT skill,
       PERCENTILE_CONT(salary_year, 0.5) OVER (PARTITION BY skill) AS median_salary
FROM SkillSalaries
GROUP BY skill, salary_year
ORDER BY median_salary DESC
LIMIT 10

## Median Salary for Top 10 Skills
Calculating the median salary for jobs requiring the top 10 skills.

In [ ]:
WITH TopSkills AS (
  SELECT keyword.element AS skill
  FROM `public_job_listings.data_nerd_jobs`, UNNEST(keywords_all.list) as keyword
  GROUP BY keyword.element
  ORDER BY COUNT(*) DESC
  LIMIT 10
)
SELECT skill, APPROX_QUANTILES(salary_year, 2)[OFFSET(1)] AS median_salary
FROM `public_job_listings.data_nerd_jobs`, UNNEST(keywords_all.list) as keyword
JOIN TopSkills ON keyword.element = TopSkills.skill
WHERE salary_year IS NOT NULL
GROUP BY skill
ORDER BY median_salary DESC

## Median Salary for Top 10 Skills
Calculating the median salary for jobs requiring the top 10 skills.

In [ ]:
WITH TopSkills AS (
  SELECT keyword.element AS skill
  FROM `public_job_listings.data_nerd_jobs`, UNNEST(keywords_all.list) as keyword
  GROUP BY keyword.element
  ORDER BY COUNT(*) DESC
  LIMIT 10
)
SELECT skill, APPROX_QUANTILES(salary_year, 2)[OFFSET(1)] AS median_salary
FROM TopSkills
JOIN `public_job_listings.data_nerd_jobs`, UNNEST(keywords_all.list) as keyword
ON skill = keyword.element
WHERE salary_year IS NOT NULL
GROUP BY skill
ORDER BY median_salary DESC